<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" 
        crossorigin="anonymous"
    >
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
    <title>QuizifAI</title>
</head>
<body>
    {% block body%}

    {% endblock %}
</body>
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" 
        crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var $studyForm = $("#study-form");
            var $quizBank = $("#quiz-bank");
            if ($studyForm.length) {
                $studyForm.submit(function(e) {
                    e.preventDefault();
                    $.ajax({
                        type: 'POST',
                        url: "/",
                        data: $(this).serialize(),
                        dataType: 'json',
                        success: function(response) {
                            console.log("Server recieved: ", response);
                            $studyForm.val('');
                            $quizBank.empty();
                            ai_response = response[1].ai_response || "No response from AI";
                            console.log("AI response: ", ai_response);
                            $quizBank.append(
                                '<div class="d-flex flex-column w-25 h-100 p-5 rounded bg-dark">' +
                                    '<p>'+ ai_response +'</p>' +
                                '</div>'
                            );
                        },
                        error: function(xhr) {
                            console.error("Error occurred: ", xhr.responseText);
                        }
                    });
                });
            }
        });
    </script>
</html>